# Build Output
dist/
.output/
.vercel/

# Dependencies
node_modules/

# Environment Variables
.env
.env.production
.env.local

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Astro
.astro/

# StudioCMS Database
.db/
*.db
*.db-shm
*.db-wal

# Local Netlify folder
.netlify
